{% extends "icon-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('icon-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set plugin = craft.app.plugins.getPlugin('icon-manager') %}
{% set crumbs = [
    {
        label: iconHelper.fullName|t('icon-manager'),
        url: url('icon-manager'),
    },
    {
        label: 'Settings'|t('icon-manager'),
        url: url('icon-manager/settings'),
    },
    {
        label: 'Interface'|t('icon-manager'),
        url: url('icon-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    {% set pluginName = iconHelper.fullName %}

    {{ actionInput('icon-manager/settings/save') }}
    {{ redirectInput('icon-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        <h2 class="first">{{ "Interface Settings"|t('icon-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'icon-manager',
        } only %}

        <hr>

        {% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
            settings: settings,
            pluginHandle: 'icon-manager',
            sections: {
                dateFormat: {},
            },
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
